@import './fonts/fonts.css'

body {
 font-family: Neue Montreal;
 margin: 0px;
 height: 100vh;
 background-color: #f4f4f4;
 display: flex;
 justify-content: center;
}

header {

 height: calc(33vh - 8px);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content:center;
}

p {
 font-size: 18px;
 font-weight: normal;
}

h2 {
margin-top: 0px;
 margin-bottom: 12px;
}
.container {
 width: 90%;
 max-width: 900px; 
 margin: 0 auto;
}

.header-controls button {
 background: none;
 border: none;
 cursor: pointer;
 font-size: 24px;
 color: #808080;
 margin-right: 3px;
 margin-bottom: 12px;
}

.header-controls button:hover {
 color: #000000;
}

.carousel {
 display: flex;
 justify-content: left;
 align-items: center;
 overflow: hidden;
 margin-bottom: 24px;
}

.header-controls {
 display: flex;
 align-items: center;
 flex-direction: row;
}

.carousel-controls {
 display: flex;
 align-items: center; 
 margin-bottom: 10px;
}

.carousel-inner {
 display: flex;
 align-items: left;
 transition: transform 0.5s ease-in-out;
}

.carousel-item {
 flex: 0 0 auto;
 width: calc(100% / 3);
 min-width: 100px;
 box-sizing: border-box;
 padding-right: 10px;
 position: relative;
}

.carousel-item img {
 width: 100%;
 height: auto;
 max-width: 100%; 
 max-height: 100%;
 display: block;
 border-radius: 8px;
}

.overlay-text {
 position: absolute;
 border-radius: 6px;
 top: 10px;
 left: 10px;
 color: white;
 background: rgba(0, 0, 0, 0.2);
 padding: 5px;
 backdrop-filter: blur(5px);
}

.popup-container {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 justify-content: center;
 align-items: center;
 z-index: 999;
}

.popup-content {
 width: 450px;
 background-color: #fff;
 padding: 0 20px;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.popup-close {
 position: relative;
 top: 6px;
 left: 450px;
 cursor: pointer;
}
